/.idea/
/stock-data-integration/.mvn/
/stock-data-integration/stock-data-integration.iml
/stock-data-api/stock-data-api.iml
/stock-data/stock-data-api/stock-data-api.iml
/stock-data/stock-data-integration/stock-data-integration.iml
/stock-data/stock-data.iml
/stock-data/stock-data-persistence/stock-data-persistence.iml
/stock-prediction/stock-prediction.iml
/stockprediction/db.sqlite3
