<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log-file-root-path" value="/var/log/com/zwang/stock"/>
    <Property name="LOG_PATTERN" value=
            "%d{yyyy-MM-dd HH:mm:ss.SSS} [%5p] [%X{camel.breadcrumbId}] [%t] [%c{1}] %L: %m%n%ex"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log-file-root-path}/@project.name@.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log-file-root-path}/@project.name@-%d{yyyy-MM-dd}-(%i).log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ROLLING-ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>${log-file-root-path}/@project.name@-error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log-file-root-path}/@project.name@-error-%d{yyyy-MM-dd}-(%i).log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="FILE-ROLLING-ERROR"/>
    </root>

</configuration>